<div class="panel panel-default" style="width: 300px; float: left; margin-left: 10px">
  <form name="new_employee_form">
    <div class="panel-heading">Add New Employee</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="new_employee.username" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="new_employee.password" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="new_employee.email" />
        <small ng-show="new_employee_form.email.$error.email" class="text-danger">Invalid email address</small>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" ng-model="new_employee.phone" />
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <select class="form-control" id="city" name="city" ng-model="new_employee.city">
          <option value="">Please select</option>
          <option value="Ha Noi">Ha Noi</option>
          <option value="Ho Chi Minh">Ho Chi Minh</option>
          <option value="Da Nang">Da Nang</option>
          <option value="Hai Phong">Hai Phong</option>
          <option value="Nha Trang">Nha Trang</option>
          <option value="Vung Tau">Vung Tau</option>
          <option value="Quang Nam">Quang Nam</option>
          <option value="Quang Ngai">Quang Ngai</option>
          <option value="Quang Binh">Quang Binh</option>
          <option value="Quang Tri">Quang Tri</option>
          <option value="Binh Thuan">Binh Thuan</option>
          <option value="Gia Lai">Gia Lai</option>
          <option value="Khanh Hoa">Khanh Hoa</option>
        </select>
      </div>
      <div class="alert alert-danger" ng-show="error">{{error}}</div>
      <div class="alert alert-success" ng-show="success">{{success}}</div>
      <button type="button" class="btn btn-primary" ng-click="add_employee(new_employee)">Add Employee</button>
    </div>
  </form>
</div>
